* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0b2434;
}

main {
  position: relative;
  width: 600px;
  height: 600px;
  left: 20px;
  top: 30px;
  background: #f5f7fb;
  border-radius: 10px;
  /* display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; */
}

/* intro page */
.intro {
  position: absolute;
  top: 33%;
  left: 30%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid peru; */
}
.title {
  margin: 0;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #293264;
  /* border: 2px solid purple; */
}
.descr {
  margin-top: 7px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #293264;
  /* border: 2px solid pink; */
}
.start-quiz-btn {
  margin-top: 30px;
  width: 193px;
  height: 52px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  background: #4d5b9e;
  border-radius: 15px;
  /* border: 2px solid turquoise; */
}

/* blobs */
.blobs-right-intro {
  position: absolute;
  width: 130px;
  height: 135px;
  top: 0px;
  right: 0px;
  /* border: 2px solid red; */
}
.blobs-right-game {
  position: absolute;
  width: 80px;
  height: 90px;
  top: 0px;
  right: 0px;
  /* border: 2px solid red; */
}
.blob-top-right {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-image: url("/src/images/top-right.png");
  border-top-right-radius: 10px;
  /* border: 2px solid green; */
}
.blobs-left-intro {
  position: absolute;
  width: 148px;
  height: 117px;
  left: 0px;
  bottom: 0px;
  /* border: 2px solid blue; */
}
.blobs-left-game {
  position: absolute;
  width: 100px;
  height: 70px;
  left: 0px;
  bottom: 0px;
  /* border: 2px solid blue; */
}
.blob-bot-left {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background-image: url("/src/images/bot-left.png");
  border-top-right-radius: 40px;
  border-bottom-left-radius: 10px;
  /* border: 2px solid orange; */
}

/* the quiz */
.quiz {
  position: absolute;
  left: 12.5%;
  top: 3.5%;
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* border: 2px solid red; */
}
.quiz-header {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.current-category {
  /* margin-top: 10px; */
  font-family: "Karla";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  background: #f5f7fb;
  color: #293264;
  border-radius: 7.71045px;
}
.current-difficulty {
  margin-top: 10px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  text-align: center;
  background: #f5f7fb;
  color: #293264;
  border-radius: 7.71045px;
}
.question {
  margin-top: 18px;
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  /* line-height: 19px; */
  color: #293264;
}
.answers {
  margin-top: 5px;
  width: 100%;
  font-family: "Inter";
  font-style: normal;
  text-align: center;
  color: #293264;
  display: flex;
  justify-content: space-evenly;
}
.answer {
  width: auto;
  height: auto;
  font-weight: 500;
  font-size: 12px;
  /* line-height: 12px; */
  /* background: #d6dbf5; */
  background: #f5f7fb;
  color: #293264;
  border-radius: 7.71045px;
  cursor: pointer;
}
.line {
  margin-top: 8px;
  width: 100%;
  height: 0px;
  left: 75px;
  top: 470px;
  border: 0.794239px solid #dbdef0;
}

/* quiz buttons */
.quiz-btn {
  margin-top: 20px;
  width: 130px;
  /* height: 35px; */
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  /* line-height: 12px; */
  text-align: center;
  color: #f5f7fb;
  background: #4d5b9e;
  border-radius: 10px;
  cursor: pointer;
}
.play-again {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.answer-score {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #293264;
}
